main > .container {
    padding: 70px 15px 20px;
    margin-bottom: 50px;
}
h1{
    color: #999c8d;
}
h3{
    color: #999c8d;
}

form div input{
    border: 0 !important;
    border-bottom:#b1b3aa solid !important;
    border-radius: 0px !important;
   
}
select{
    border: 0 !important;
    border-bottom: #b1b3aa solid !important;
}

.custom-select{
    border-color:#b1b3aa !important;
    box-shadow: 0 0 0 0.2rem #2d3236 !important;
}
.form-control:focus{
    border-color: #d1ad41 !important;
    box-shadow: 0 0 0 0.2rem #2d3236 !important;
}
input:focus{
    border-bottom:#e9c352 solid !important;
}
.btn-dark:hover{
    background-color: #e6bd44 !important;

}
.btn-dark{
    color: black !important;
    background-color: #d1ad41 !important;
}
.bg-custom{
    color: blac !important;
    background-color: #2d3236 !important;
}
main{
    background-color: #2d3236;
}
nav img{
    width: 100px;
}
body{
    background-color: #2d3236;
}
.fz80{
    font-size: 80px;
}
.fz20{
    font-size: 20px;
}
.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}
.mt-30{
    margin-top: 200px;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}
